body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: var(--body-color);
    letter-spacing: 0.02em;
    color: var(--white-color);
}

:root{
    --body-color: #171717;
    --clear-white-color: #ffffff;
    --white-color: #FAFAF9;
    --tomato-color: #E6533C;
    --grey-color: #EFEDE8A6;
    --hero-hover: #EF8964;
    --span-1-3: #323443;
    --span-2: #232532;
    --span-4: #4F5261;
    --color-link: #0070C9;
    --color-line: #ffffffA5;
    --border-icon: #EFA082;
    --box-2: #303030;
    --box-3: #7A29DC;

     /* Анимация времени */

  --anim-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
ol {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.conteiner{
    max-width: 1312px;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 49px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 180px;
}

.logo{
    font-weight: 700;
    text-decoration: none;
    line-height: 19px;
    color: var(--white-color);
}

.header-list{
    display: flex;
}

.header-item{
    margin-right: 20px;
    list-style: none;
}

.header-link{
    font-weight: 400;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    color: var(--white-color);
    transition: var(--anim-slow);
}

.header-link:hover,
.header-link:focus{
    color: var(--tomato-color);
}

.hero{
    max-width: 1255px;
    margin-left: 141px;
    margin-right: 44px;
    display: flex;
    padding-bottom: 200px;
}

.hero-title{
    font-weight: 800;
    font-size: 172px;
    line-height: 170px;
    letter-spacing: 0.02em;
    max-width: 790px;
    max-height: 311px;
    margin-bottom: 46px;
}

.hero-text{
    color: var(--grey-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    width: 560px;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 50px;

}

.hero-btn{
    width: 200px;
    height: 70px;
    padding: 24px 25px;
    border-radius: 10px;
    background-color: var(--tomato-color);
    color: var(--clear-white-color);
    font-family: "Poppins";
    cursor: pointer;
    margin-bottom: 112px;
    transition: var(--anim-slow);
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--hero-hover);
}

.hero-logo{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: var(--grey-color);
    margin-bottom: 33px;
}

.hero-list{
    display: flex;
    align-items: center;
}

.hero-item{
    list-style: none;
    margin-right: 18px;
}

.hero-link{
    text-decoration: none;
    cursor: pointer;
}

.hero-img{    
    background: url(<path-to-image>), rgba(0,0,0,0) -529.19px 0px / 267.675% 100% no-repeat;
    flex-shrink: 0;
    Top: 291px;
    Left: 798px;
    margin-left: 106px;
    position: absolute;
}

.box-1{
    width: 180px;
    height: 110px;
    background-color: var(--hero-hover);
    border-radius: 12px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-left: 26px;
    Top: 279px;
    Left: 1152px;
}

.box-icon{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--border-icon);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.number-1{
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.05px;
    color: var(--white-color);
    margin-right: 8px;
}

.text-1{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05px;
    color: var(--grey-color);
}

.box-2{
    width: 206px;
    height: 96px;
    border-radius: 12px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 23px;
    background-color: var(--box-2);
    Top: 668px;
    Left: 737px;

}

.box-icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--hero-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.icons-2{
    padding-left: 3px;
}

.title-2{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 8px;
}

.text-2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--grey-color);
}

.box-3{
    width: 193px;
    height: 98px;
    border-radius: 12px;
    background-color: var(--box-3);
    position: absolute;
    padding: 16px 23px;
    Top: 768px;
    Left: 1203px;
}

.title-3{
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.text-3{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    color: var(--grey-color);
}

.shure{
    max-width: 1312px;
    margin-left: 141px;
    padding-bottom: 189px;
}

.shure-title{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.03em;
    margin-bottom: 24px;
}

.shure-text{
    color: var(--grey-color);
    line-height: 24px;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
}

.span{
    display: flex;
}

.span-title{
    margin-bottom: 12px;
    line-height: 24px;
}

.span-text{
    color: var(--grey-color);
    max-width: 192px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 8px;
}

.span-box{
    display: flex;
    align-items: flex-end;
}

.list-1{
    margin-right: 32px;
    border-radius: 12px;
    background-color: var(--span-1-3);
    padding: 52px 40px;
    transition: var(--anim-slow);
}

.list-2{
    margin-right: 32px;
    border-radius: 12px;
    background-color: var(--span-2);
    padding: 52px 40px;
    transition: var(--anim-slow);
}

.list-4{
    border-radius: 12px;
    background-color: var(--span-4);
    padding: 52px 40px;
        transition: var(--anim-slow);
}

.list-1:hover,
.list-2:hover,
.list-4:hover,
.list-1:focus,
.list-2:focus,
.list-4:focus{
    box-shadow: 0px 0px 33px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 33px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 33px 0px rgba(255,255,255,0.75);
}

.work{
    width: 1312px;
    max-height: 640px;
    margin-left: 141px;
    margin-right: 64px;
    display: flex;
    padding-bottom: 121px;
}

.img{
    border-radius: 20px;
}

.work-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 69px;
}

.work-title{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.03em;
    margin-bottom: 38px;
}

.work-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    max-width: 480px;
    margin-bottom: 24px;
}

.work-link{
    text-decoration: none;
    color: var(--color-link);
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.work-icon{
    margin-left: 8px;
}

.traning{
    width: 1312px;
    max-height: 640px;
    margin-left: 141px;
    margin-right: 64px;
    display: flex;
    padding-bottom: 200px;
}

.traning-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 89px;
}

.traning-title{
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0.83px;
    max-width: 591px;
    margin-bottom: 38px;
}

.traning-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    max-width: 523px;
    margin-bottom: 24px;
}

.member{
    width: 1312px;
    margin-left: 141px;
    margin-right: 64px;
}

.member-title{
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0.83px;
    margin-bottom: 12px;
}

.line::after{
    content: "";
    display: block;
    position: absolute;
    width: 1152px;
    height: 0px;
    margin-top: 16px;
    border: 1px solid var(--color-line);
}


